* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  
}

body {
  line-height: 1.6;
  margin: 0; 
  padding: 0;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
 
}

header {
  background: #fff;
  color: #13c0ebdc;
  padding: 1rem;
}

.logo {
  height: 50px;
}

nav {
  position: relative;
}

.hamburger {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.hamburger .line {
  width: 25px;
  height: 3px;
  background-color: #13c0ebdc;
  margin: 4px 0;
}

/* Hide the menu initially */
.nav-menu {
  display: none;
  list-style: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 0; /* Align the top of the menu with the hamburger icon */
  left: 35px; /* Position the menu to the right of the hamburger icon */
  background-color: white; /* Adjust based on your design */
  box-shadow: 0 4px 8px rgba(81, 44, 184, 0.1);
  z-index: 1000;
}

.nav-menu li {
  padding: 10px 20px;
}

.nav-menu li a {
  text-decoration: none;
  color: #13c0ebdc; /* Adjust based on your design */
}

/* Show the menu when the 'show' class is added */
.nav-menu.show {
  display: block;
}
.All{
  background-color: rgb(50, 47, 62);
}
.get-started {
  color: #fff;
  padding: 2rem 0;
  text-align: center;
  background-color: rgb(50, 47, 62);
}

.get-started .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.get-started h2 {
  margin-bottom: 2rem;
}

.signup-button {
  background-color: #fff;
  color: #13c0ebdc;
  font-size: 2rem;
  padding: 1rem 5rem;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  margin-bottom: 1rem;
}

.store-buttons {
  display: flex;
  justify-content: space-between;
  width: 200px; 
  margin: auto;
}

.store-button {
  background-color: #fff;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  width: 150px;
}

.store-button img {
  width: 10px; 
  height: auto;
}

.signup-professional {
  padding: 2rem 0;
  text-align: center;
}

.signup-professional .container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup-professional h2 {
  margin-bottom: 1rem;
}

.signup-description p {
  margin-bottom: 1rem;
}

.signup-professional-button {
  background-color: #fff;
  color: #13c0ebdc;
  font-size: 1.5rem;
  padding: 1.5rem 2rem;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  margin-bottom: 1rem;
  
}

.signup-clinic {
  text-align: center;
}

.signup-clinic .container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup-clinic h2 {
  margin-bottom: 1rem;
}

.signup-description p {
  margin-bottom: 1rem;
}

.signup-clinic-button {
  background-color: #fff;
  color: #13c0ebdc;
  font-size: 1.5rem;
  padding: 1.5rem 2rem;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  margin-bottom: 1rem;
}

.store-buttons,
.additional-store-buttons {
  display: flex;
  justify-content: space-between;
  width: 150px;
  margin: 1rem;
  margin-left: 3rem;
}

.store-button {
  background-color: #fff;
  border: none;
  border-radius: 20px;
  padding: 0.5rem;
  cursor: pointer;
}

.store-button img {
  display: flex;
  justify-content: space-between;
  width: 50px; 
  height: auto;
}

.toothache-reasons {
  padding: 2rem 0;
  text-align: center;
}

.toothache-reasons .container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.toothache-reasons-content p {
  margin-bottom: 1rem;
}

.toothache-reasons-content h1 {
  font-size: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}


.services {
  background: rgb(50, 47, 62);
  padding: 2rem 0;
  text-align: center;
}

.services .service-item {
  margin-bottom: 1rem;
}


.contact {
  padding: 2rem 0;
  text-align: center;
}

.contact form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact form label {
  margin-bottom: 0.5rem;
}

.contact form input,
.contact form textarea {
  margin-bottom: 1rem;
  padding: 0.5rem;
  font-size: 1rem;
  width: 100%;
  max-width: 400px;
}

.contact form button {
  padding: 0.7rem;
  color: #fff;
  border: none;
  cursor: pointer;
}

footer {
  color: #fff;
  text-align: center;
  padding: 1rem 0;
  width: 100%;
  
  display: flex;
  justify-content: center;  /* Center horizontally */
  align-items: center;
}
